<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="dollar-us.component.css">
    <script src="dollar-us.component.ts"></script>
    <script src="node_modules/chart.js/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <title>DEVISES</title>
</head>
<body>
  <h1>Le Dollar USA</h1>
  <div>

    <img id = 'flag' src="../../../assets/Flag_of_the_United_States_(Pantone).svg" >


    <p id = 'choix'>Choix de convertion</p>
    <FORM NAME="Choix">
  <SELECT id = 'valeurChange' (change) = "lien($event)">
  <OPTION value="">Choisir une option</OPTION>
  <OPTION value="1"> Le Dollar-Canadien</OPTION>
  <OPTION value="2">La Livre</OPTION>
  <OPTION value="3">Le Yen</OPTION>
  <OPTION value="4">Le Shekel</OPTION>
  <OPTION value="5">L'Euro</OPTION>
  <OPTION value="6">Le Franc-Suisse</OPTION>
  <OPTION value="7">Le Peso</OPTION>
  <OPTION value="8">Le Rouble</OPTION>
  <OPTION value="9">Le Yuan</OPTION>
  </SELECT>
  </FORM>


  <p id = 'choix'>Choix de la date</p>
  <input  type="date" (change) = "getValue();" placeholder="Entrez une date ici (YYYY-MM-DD)" id="date">
  <button type="button" (click)="fetcheur();">Soumettre</button>
  <p id = 'affiche'>1$ =    {{valeur}}{{symbol}}</p>
  </div>
  <canvas baseChart id='canvas' margin-top=20px
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [legend]="barChartLegend"
  [chartType]="barChartType">
</canvas>
  </body>
