.nav-link {
  color: white;
  font-size: x-large;
}

.nav-item {
  cursor: pointer;
}

.image {
  width: 50px;
  height: 35px;
}

@media (max-width: 1230px) {
  .nav {
    display: block;

  }
  .image {
    display: inline-block;
  }
}
