<ul class="nav justify-content-center">
  <div style="margin-top: 5px;">
  <li >
    <img class="image" src="../../assets/billet/7JVLFSASOJDCXAR2VOT35CJWQM.jpg" >
    <img class="image" src="../../assets/billet/AUD-00100-A.jpg" style="margin-left: 10px;">
    <img class="image" src="../../assets/billet/Unknown-5.jpg" style="margin-left: 10px;">
    <img class="image" src="../../assets/billet/395px-500_forint_elolap.png" style="margin-left: 10px;">
    <img class="image" src="../../assets/billet/BRL-00100-R.jpg" style="margin-left: 10px;">
    <img class="image" src="../../assets/billet/DKK-01000-A.jpg" style="margin-left: 10px;">
  </li>
</div>
  <li class="nav-item">
    <a class="nav-link" (click)="goToSomewhere('home')">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToSomewhere('moneyConvertor')">Convertisseur de Monnaie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToSomewhere('devise')">Devises</a>
  </li>
  <div style="margin-top: 5px;">
    <li >
      <img class="image" src="../../assets/billet/Unknown-6.jpg" >
      <img class="image" src="../../assets/billet/Unknown-7.jpg" style="margin-left: 10px;">
      <img class="image" src="../../assets/billet/US_one_dollar_bill,_obverse,_series_2009.jpg" style="margin-left: 10px;">
      <img class="image" src="../../assets/billet/NOK-200-A.jpg" style="margin-left: 10px;">
    <img class="image" src="../../assets/billet/Unknown-8.jpg" style="margin-left: 10px;">
    <img class="image" src="../../assets/billet/Unknown-9.jpg" style="margin-left: 10px;">
    </li>
  </div>

</ul>

