<form #userForm = "ngForm" (ngSubmit)= "onFormSubmit(userForm)">
<div class="form-group">
    <label for="montant">
     Choisissez un montant
    </label>
    <input type="number" 
                    ngModel 
                    id="montant" 
                    class="form-control" 
                    name="montant"
                    >
    <br>
    <label for="monnaie_depart">
      Choisissez une monnaie de départ : 
    </label>
    <select id="monnaie_depart" 
            class="form-control" 
            name="monnaie_depart" 
            (change)= "onFormSubmit(userForm)"
            ngModel>
            <option value="USD">Dollar US</option>
            <option value="GBP">Livre</option>
            <option value="EUR">Euro</option>
            <option value="JPY">Yen</option>
            <option value="MXN">Peso</option>
            <option value="CAD">Dollar Can</option>
            <option value="CHF">Franc Suisse</option>
            <option value="ILS">Shekel</option>
            <option value="CNY">Yuan</option>
            <option value="RUB">Rouble</option>
    </select>
    <br>
    <label for="monnaie_arrive">
      Choisissez la monnaie voulue : 
    </label>
    <select id="monnaie_arrive" 
            class="form-control" 
            name="monnaie_arrive"
            ngModel
            (change)= "onFormSubmit(userForm)">
            <option value="USD">Dollar US</option>
            <option value="GBP">Livre</option>
            <option value="EUR">Euro</option>
            <option value="JPY">Yen</option>
            <option value="MXN">Peso</option>
            <option value="CAD">Dollar Can</option>
            <option value="CHF">Franc Suisse</option>
            <option value="ILS">Shekel</option>
            <option value="CNY">Yuan</option>
            <option value="RUB">Rouble</option>
    </select>
    <br>
    <div class="d-grid gap-2">
      <button class="btn btn-primary">Convertir</button>
      <button type="button" class="btn btn-danger" (click)="resetUserForm(userForm)">Reset</button>
    </div>
  </div>

</form>
<h1 *ngIf="isAvailable">
  {{taux}}<br><br>
  {{result}}
</h1>