<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Monnaie</th>
      <th scope="col">Actuel</th>
      <th scope="col">
        <select name="optionsaselection"
        class="" [(ngModel)]="choixUser" >
          <option *ngFor="let item of myArray; let i = index" [value]="myArray[i]">
          {{myArray[i].date}}
          </option>
        </select>
      </th>
      <th scope="col">
        <select name="optionsaselection"
        class="" [(ngModel)]="choixUser1" >
          <option *ngFor="let item of myArray; let i = index" [value]="myArray[i]">
          {{myArray[i].date}}
          </option>
        </select>
      </th>
      <th scope="col">
        <select name="optionsaselection"
        class="" [(ngModel)]="choixUser2" >
          <option *ngFor="let item of myArray; let i = index" [value]="myArray[i]">
          {{myArray[i].date}}
          </option>
        </select>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of choixUser1">
      <th > {{item}}</th>
      <td>{{item}}</td>
      <td >{{item}}</td>
      <td>@mdo</td>
      <td>alexia</td>
    </tr>

  </tbody>
</table>
