<div class="container" style="width: 100%;">
<div class="card card-custom gutter-b" style="margin: auto;width: 100%;margin-top: 5%;">

  <div class="card-header">
   <div class="card-title" style="text-align: center;">
    <h1>Bienvenue sur notre site dédié aux monnaies </h1>
    <h2>Vous trouverez les taux de changes de chaques monnaies ainsi qu'un convertisseur en ligne</h2>
   </div>
  </div>

</div>
<br>
<div class="container">
  <app-tableau></app-tableau>
    <div class="container" style="text-align: center;">
      <img src="../../assets/carte/Currency-Symbol_Regions_of_the_World_circa_2006.png">
    </div>
<br>
</div>
</div>
